// extends/placeholders ----

//  nav ---

%nav-style {
  padding: 1em 0;
  &:hover {
    background-color: $primary-color;
    border-radius: 0.32em;
  }

  & a {
    color: black;
    padding: 4%;
  }
  & a:hover {
    color: white;
  }
}

// images ---

%image-w {
  max-width: 100%;
}

// link ---

%link-decor {
  text-decoration: none;
  text-decoration-color: black;
}

// form extends ---

%form-user-pass {
  margin-bottom: 2em;
  border-bottom: 0.4em solid $primary-color;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.75em 0 0.75em 0.5em;
  color: black;
  outline-style: none;
  width: 90%;

  font-size: 0.9em;
}

// grid btn extends ---

%btn-btns-style {
  width: 100%;
  padding: 0.75em 0;
  margin-bottom: 1.6em;
  border-style: none;
  border-radius: 0.32em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  @include primary-font-700;
}
