// form -----------
.form {
  text-align: center;
  @include mq(large) {
    margin-left: 1em;
  }
}

.form + button {
  margin-right: 100px;
}

.form__label--hidden {
  display: none;
}

.form__input {
  @extend %form-user-pass;
  @include primary-font-700;
}
