.img--logo {
  margin: 1.25em 0;
  transform: translateX(75%);
  @extend %image-w;
}
.img--avatar {
  margin: 1em 0;
  transform: translateX(50%);
  @extend %image-w;
  @include mq(medium) {
    transform: translateX(10%);
  }
  @include mq(large) {
    transform: translateX(40%);
  }
}

.img--frame {
  @extend %image-w;
  border: 0.1px solid rgb(201, 201, 201);
  padding: 0.9em;
}
