// Base Styles -------------

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  @include primary-font-300;
  padding: 0;
  @include mq(large) {
    margin-top: 2.25em;
    margin-left: 6em;
  }
}

a {
  @extend %link-decor;
  @include primary-font-300;
}

p {
  @include primary-font-300;
  color: $p-color;
  line-height: 1.45em;

  @include mq(medium) {
    color: red;
  }
}
